In [24]:
name='Soumen kundu'
print(name)

Soumen kundu

In [10]:
print('Hello', 'World', 123)

Hello World 123

In [21]:
name.upper()
name.lower()

'soumen'

In [ ]:
user_input= input('Enter Your Name: ')
if user_input.upper() == 'Soumen':
    print('You are right')
else:
    print('You are wrong')

You are wrong

In [27]:
name.capitalize()

'Soumen kundu'

In [26]:
name.title()

'Soumen Kundu'

In [29]:
address='Krishna Kutter Villas'

In [ ]:
address.replace('Villas','Village')

'Krishna Kutter Village'

In [33]:
address.replace('Village','Villas')
address.lower().replace('villas', 'village')

'krishna kutter village'

In [42]:
address.find('s')

3

In [43]:
address[12]

'e'

In [45]:
address.isalpha()

False

In [46]:
address.isdigit()

False

In [47]:
address.isalnum()

False

In [48]:
address.startswith('K')

True

In [49]:
address.endswith('e')

False

In [50]:
address.split()

['Krishna', 'Kutter', 'Villas']

In [2]:
name=       'soumen'
name.strip()

'soumen'

In [52]:
name='ram    '
name.rstrip()

'ram'

In [53]:
name.upper()

'RAM    '

In [54]:
list=['1','2','3','4']
' '.join(list)

'1 2 3 4'

In [55]:
','.join(list)

'1,2,3,4'

In [59]:
list=[1,2,3,4]
' '.join(map(str, list))

'1 2 3 4'

In [22]:
str='Soumen Kundu'
str[5::-3].upper()
(str[-4::3].upper())
str[5::-3].lower()

'nu'

Operators

LOOPS WHILE

In [5]:
a=1
while a<6:
    print(a)
    a+=1

1
2
3
4
5

In [9]:
c=11

while c>1:
    c-=1
    print(c)

10
9
8
7
6
5
4
3
2
1

In [24]:
a=1
while a<=50:
    if a%2==0:
        print(a)
    if a==30:
        break    
    a+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
a=1
while a<=3:
    b=int(input('Enter a Number'))
    if a==1:
        print('1 attempts complete. 2 are left')
    elif a==2:
        print('2 attempts complete. 1 are left')
    else:
        print('all attempts complete')        
    a+=1

In [51]:
a=1
while a<=10:
    print(5,"x",a,"=", a*5)
    a+=1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

FOR

In [54]:
x='banglore'
for i in x:
    print(ord(i),i)

98 b
97 a
110 n
103 g
108 l
111 o
114 r
101 e

In [2]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [27]:
total=0
i=1
while i <=100:
    total+=i
    i+=1

In [28]:
print(total)

5050

In [31]:
i=1
while i<=20:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [47]:
num=int(input('Enter a number that you want to reverse'))
rev=0
while num>0:
    rev=(rev*10)+num%10
    num=num//10
    print('Reserve number is:',rev)

Reserve number is: 6
Reserve number is: 63
Reserve number is: 636

In [48]:
print(rev)

636

In [49]:
num=121
rev=0
while num>0:
    rev=(rev*10)+num%10
    num=num//10

In [50]:
print (rev)

121

In [59]:
num=5
while num>=0:
    num= num*(num-1)*(num-2)*(num-3)*(num-4)
    print(num)
    break

120

In [ ]:
num=int(input('Enter a number'))
fact=1
while num>=0:
    fact=fact*num
    num=num-1
    print(fact)

7

In [3]:
name='vasanth'
x=[]
for i in 'vasanth':
    x.append(i)
    print(x)

['v']
['v', 'a']
['v', 'a', 's']
['v', 'a', 's', 'a']
['v', 'a', 's', 'a', 'n']
['v', 'a', 's', 'a', 'n', 't']
['v', 'a', 's', 'a', 'n', 't', 'h']

In [10]:
x=4256
list=[]
for i in str(x):
    list.append(int(i))

In [11]:
print(sum(list))

17

In [18]:
x=str(input("Enter a number"))
i=i[::-1]
if x==i:
    print('number is palindrome')
else:
    print("number is not palindrome")

number is not palindrome

In [27]:
list=[1,2,3,4,5]
y=[]
for i in list:
    if i%2==0:
        y.append(i)
        print(y)

[2]
[2, 4]

In [30]:
a=0
b=1
for i in range(10):
    print(a,end='')
    a,b=b,a+b,

0112358132134

In [31]:
def ac():
    global c
    c=7
    print(c)

In [35]:
ac()

7

In [ ]:
list = [3,2,1]
list.sort()

In [8]:
list[0]

1

In [11]:
list=[32,23,33]
min(list)
max(list)

33

Lamda Function

In [13]:
x = lambda a,t: a + 10+t
x(5,2)

17

In [15]:
y=lambda a,b,c,d: a+b-c*d
y(12,34,21,23)

-437

In [17]:
def soumen(b):
    return lambda a:a+b
soumen(5)(4)

9

In [19]:
s=soumen(5)
s(4)

9

In [3]:
li=[1,2,3,4]
def sq(n):
    return n*n
x=map(sq,li)
list(x)

[1, 4, 9, 16]

In [1]:
from functools import reduce

In [3]:
a={1,2,3}

def ad(x,y):
    return x+y
b=reduce(ad,a)
b

6