In [ ]:
list=[1,2,3,4]

In [ ]:
tuple=(1,2,3,40)

In [ ]:
# () → Tuple, Functions, Expressions ,methods  

# [] → List, Indexing, Comprehensions

# {} → Set, Dictionary

In [ ]:
a=1,2,3

In [36]:
a=([1,2],[3]) 
type(a)

tuple

In [35]:
a=[(1,2,3)] 
type(a)

list

In [38]:
list=(1,2,3)  
list.append()

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# append # insert # remove # pop # clear # extend

In [40]:
list=1,2,3 
#print(list.sort())

In [41]:
len(list)

3

In [ ]:
name='praveen'

In [1]:
print=[1,2,'array']

In [ ]:
# List append(),insert(),remove(),sort(),pop(),reverse(),extend()

{'abc': 345, 'cab': 6, 'end': 'never'}

In [43]:
set={1,4,3,6,'abc','acd','adc'}    
print(set)

{1, 3, 4, 6, 'acd', 'abc', 'adc'}

In [46]:
set.add(90)

In [48]:
set.remove(6)

In [50]:
set.pop()

1

In [51]:
set

{3, 4, 90, 'abc', 'acd', 'adc'}

In [52]:
set.clear()

In [ ]:
# tuple len()

In [6]:
list=([1],['up'])      
type(list)

tuple

In [7]:
a=2 
b=2 

a==b

True

In [8]:
a=2 
b=2 

a is b

True

In [9]:
a=(1,2,3) 
b=[1,2,3] 

a is b

False

In [10]:
tuple=(1,2,3,4,5) 

tuple.append()

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
tuple=('kingdom','raja harishchandra')   
tuple.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [ ]:
# equal to =   equals too==

In [1]:
tuple=()  
print(tuple)

()

In [16]:
lisr=[1,2,3,4]  
lisr.insert(1,9999)

In [ ]:
# set add(),remove(),pop(),union()(|),intersection()(&)

In [15]:
list=[1,'ravi',4,'rahul',4,4,] 
set(list)

{1, 4, 'rahul', 'ravi'}

In [25]:
set1={1,2,4,5,6}       
print(len(set1))

5

In [22]:
set1=[1,2,4,5,6] 
set1.pop()

6

In [ ]:
set1.add(90)

In [17]:
set1.remove(2)   
set1

{1}

In [19]:
set1

{1, 2, 4, 5, 6}

In [21]:
set1.pop()

1

In [26]:
set1.clear()

In [27]:
set1

set()

In [ ]:
set1={1,2,3} 
set2={4,5,6} 

set1.union(set2)   # |

{1, 2, 3, 4, 5, 6}

In [32]:
t=tuple()

TypeError: 'tuple' object is not callable

In [ ]:
set1.intersection(set2)   # &

set()

In [ ]:
# dict pop(),keys(),values(),update(),items(),get()

# create a variable named list and keep values 4,5,6 and it has to be a set  as data type   


# get me the output of none data type 

# i have a list [1,2,3]  and at the 90000000th place add 000000009  

# cerate an empty dict

In [ ]:
# create a variable names list and keep values 4,5,6 and it has to be a set  as data type