List & Tuples

In [5]:
marks=[96.4,84.3,97,47,29.4]
len(marks)
marks[3]

47

In [8]:
student=['Soumen',85,'Kolkata',25]
student

['Soumen', 85, 'Kolkata', 25]

In [13]:
student[3]= 26
student

['Soumen', 85, 'Kolkata', 26]

In [8]:
student.append('python')
student

['Soumen', 85, 'Kolkata', 26, 'python']

In [9]:
student.remove('python')
student

['Soumen', 85, 'Kolkata', 26]

In [10]:
a=24
str(a)

'24'

In [12]:
b=24.5
type(b)
int(b)

24

In [13]:
name=str(input('Enter your name'))
marks=float(input('Enter your marks'))
age=int(input('Enter your age'))
type(name)
type(marks)
type(age)

int

In [16]:
type(age)

int

In [17]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
sum=num1+num2
print('Sum of 2 numbers is :', sum)

Sum of 2 numbers is : 36

In [20]:
side=float(input('Enter first side number'))
print("Area is =", side*side)

Area is = 625.0

In [ ]:
num1=float(input('Enter first number'))
num2=float(input('Enter second number'))
print("average is:",(num1+num2)/2)

average is: 2.5

In [27]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
print(num1>=num2)

True

In [8]:
print("My name is soumen kundu.", end=" ")
print("i am from west bengal")

My name is soumen kundu. i am from west bengal

In [ ]:
str= "Banglore"
print(str.upper())

 BANGLORE

In [10]:
print(str.lower())

banglore

In [26]:
print("New   ".rstrip())

New

In [28]:
print("data".find("t"))

2

In [30]:
print("i love sea".replace("sea","mountain"))

i love mountain

In [31]:
print("tiger".__len__())

5

In [39]:
str= "Banglore"
print(str.startswith("re"))

False

In [40]:
print(str.endswith("re"))

True

In [51]:
name=(input("Enter your first name"))
print(len(name))

6

In [53]:
str="Hi, i am the $ of ameriacan $"
str.count("$")

2

In [54]:
target="My aim is to earn more $"
print(target.count("$"))

1

In [66]:
marks=int(input("Enter a number"))
if(marks>=90):
    print("your grade is A")
elif(marks>=80 and marks<90):
    print("you grade is B")
elif(marks>=70 and marks<80):
    print("you grade is C")
elif( marks<70):
      print("you grade is D")

you grade is C

In [71]:
age=1
if(age>=20):
    if(age<=8):
        print("right")
    else:
        print("wrong")
else:
    print("not anything")

not anything

In [73]:
num=int(input("Enter a number"))
if(num%2==0):
    print("Number is even")
else:
    print("number is odd")

number is odd

In [77]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=int(input("Enter third number"))
d=int(input("Enter fourth number"))
if(a>b and a>c and a>d):
    print("a is greatest")
elif(b>a and b>c and b>d):
    print("b is greatest")
elif(c>a and c>b and c>d):
    print("c is greatest")
else:
    print("d is greatest")

a is greatest

In [2]:
list=[1,2,3,4,5]
list.insert(1,3)

In [5]:
list

[1, 2, 3, 4, 5]

In [4]:
list.pop(1)

3

In [19]:
tup=(1,2,3,3,4)
tup[0]

1

In [14]:
tup.index(2)

1

In [20]:
tup.count(3)

2

In [21]:
movie=input("Enter your 1st favorite movie")
movie1=input("Enter your 2nd favorite movie")
movie2=input("Enter your 3rd favorite movie")

li=[movie,movie1,movie2]
print(li)

['pk', 'kedarnath', 'thor']

In [26]:
list1=[1,2,3]
if list1 ==list1[::-1]:
    print("This is palinfrome list")
else:
    print("This is not a palinfrome list")

This is not a palinfrome list

In [29]:
li=["C","D","A","A","B","B","A"]
li.count("A")

3

In [41]:
li=["C","D","A","A","B","B","A"]
li.sort(reverse=False)
li

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [44]:
info={
"Name": "Soumen",
"Age": 25,
"Gender": "Male",
"Nationality": "indian",
"Is_Adult": True,
"Subjects":["Python", "C","Java","PHP"],
"Tropic": ("Dictionary","Tuple")
}
print(info)

{'Name': 'Soumen', 'Age': 25, 'Gender': 'Male', 'Nationality': 'indian', 'Is_Adult': True, 'Subjects': ['Python', 'C', 'Java', 'PHP'], 'Tropic': ('Dictionary', 'Tuple')}

In [45]:
type(info)

dict

In [51]:
info["Subjects"]

['Python', 'C', 'Java', 'PHP']

In [52]:
info["Name"]= "Soumen Kundu"

In [53]:
info

{'Name': 'Soumen Kundu',
 'Age': 25,
 'Gender': 'Male',
 'Nationality': 'indian',
 'Is_Adult': True,
 'Subjects': ['Python', 'C', 'Java', 'PHP'],
 'Tropic': ('Dictionary', 'Tuple')}

In [3]:
student={
    "Name": "Tutu",
    "Subjects": {
        "python": 73,
        "DSA": 38,
        "Java": 97
    },
    "Age": 25,
}

print(student["Subjects"]["Java"])

97

In [4]:
print(student.keys())

dict_keys(['Name', 'Subjects', 'Age'])

In [6]:
list(student.values())

['Tutu', {'python': 73, 'DSA': 38, 'Java': 97}, 25]

In [8]:
list(student.items())

[('Name', 'Tutu'),
 ('Subjects', {'python': 73, 'DSA': 38, 'Java': 97}),
 ('Age', 25)]

In [15]:
student.get("Age")

25

In [22]:
student.update({"City":"Delhi","Gender":"Male"})

In [23]:
student

{'Name': 'Tutu',
 'Subjects': {'python': 73, 'DSA': 38, 'Java': 97},
 'Age': 25,
 'City': 'Delhi',
 'Gender': 'Male'}

In [3]:
collection={12,23,"Soumen",25}
type(collection)

set

In [4]:
print(collection)

{'Soumen', 25, 12, 23}

In [ ]:
data=set() # Syntax of a empty set
data.add(1)
data.add("Tutu") # add a value
data.add("PK")
data.remove("PK") # remove a  specific value
data.add((1,2,3))
print(data)
print(len(data))

{1, (1, 2, 3), 'Tutu'}
3

In [ ]:
house={12,45,"Door","Window"}
print(house.clear()) # remove all value

None

In [ ]:
house={12,45,"Door","Window"}
print(house.pop()) # remove randome value
print(house)

Window
{'Door', 12, 45}

In [ ]:
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2)) #combine both sets value & return a new

{1, 2, 3, 4, 5}

In [ ]:
print(set1.intersection(set2)) # combine common vallues & return a new value

{3}

In [29]:
dic1={
    "table": ["a piace of furnture", "list of facts & figure"],
    # "table": ("a piace of furnture", "list of facts & figure"),  # we can store multiple value in a table format
    "cat": "a small animal"

}
print(dic1)

{'table': ['a piace of furnture', 'list of facts & figure'], 'cat': 'a small animal'}

In [31]:
subjects={"python","java","C++","python","javascript","java","python","java","C++","C"}
len(subjects)

5

In [38]:
sub1=input("Enter 1st subject marks")
sub2=input("Enter 2nd subject marks")
sub3=input("Enter 3rd subject marks")
dict={}
dict.update({"chemistry": sub1}),
dict.update({"physics": sub2}),
dict.update({"math": sub3})
print(dict)

{'chemistry': '45', 'physics': '67', 'math': '98'}

In [55]:
set1={(int,9),(float,9.0)}

print(set1)

{(<class 'float'>, 9.0), (<class 'int'>, 9)}

LOOPS

In [13]:
cout=1  #Iterator
while cout<=5:
    print("hello",cout)
    cout+=1

hello 1
hello 2
hello 3
hello 4
hello 5

In [15]:
i=100
while i>=1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [34]:
n=int(input("enter a number"))
i=1
while i<=10:
    print(n*i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [2]:
li=[1,4,9,16,25,36,49,64,81,100]
i=0
while i<len(li):
    print(li[i])
    i+=1

1
4
9
16
25
36
49
64
81
100

In [11]:
li=(1,4,9,16,25,36,49,64,81,100)
x=25
i=0
while i<len(li):
    if (li[i]==x):
        print("Number is found at index :",i)
    i+=1

Number is found at index : 4

In [12]:
transport=["bus","train","metro","airoplane","ship"]
for i in transport:
    print(i)

bus
train
metro
airoplane
ship

In [13]:
numbers=[1,4,9,16,25,36,49,64,81,100]
for i in numbers:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [20]:
nums=(1,4,9,16,25,36,49,64,81,100)
i=36
idx=0
for s in nums:
    if(s==i):
        print("Found number is ",idx)
    idx+=1

Found number is  5

In [32]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [43]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [58]:
num=int(input("enter a number :"))
for i in range(1,11):
    print(num*i)

3
6
9
12
15
18
21
24
27
30

In [62]:
for i in range(0,10):
    pass
print('bhar m jao')

bhar m jao

In [85]:
num=5
fact=1
i=1
while i<=num:
    fact*=i
    i+=1
    print("Factorial of all numbers is :",fact)

Factorial of all numbers is : 1
Factorial of all numbers is : 2
Factorial of all numbers is : 6
Factorial of all numbers is : 24
Factorial of all numbers is : 120

In [6]:
def calculator(a,b):
    sum=a+b
    print(sum)
calculator(10,12)

22

In [7]:
def marks(x,y):
    return(x+y)
sum=marks(12,24)
print(sum)

36

In [26]:
def numbers(a,b,c):
    sum=(a+b+c)
    avg=(sum/3)
    print(avg)
    return avg
numbers(2,4,5)

3.6666666666666665

3.6666666666666665

In [27]:
def multiplication(x,y):
    multi=(x*y)
    print(multi)
    return multi
multiplication(2,2)

4

4

In [4]:
cities=["Kolkata","Delhi","Mumbai","Chennai"]
def print_len(x):
    print(len(x))
print_len(cities)

4

In [7]:
subject=["stats","python","SQL"]
def x(y):
    for iteam in y:
        print(iteam,end=" ")
x(subject)

stats python SQL

In [28]:
def fac_cal(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    print(fact)
fac_cal(7)

5040

In [62]:
def transfer(usd_val,rate=83):
    inr_val = usd_val*rate
    print(usd_val,"USD :",inr_val,"INR")

transfer(2)

2 USD : 166 INR

In [58]:
def transfer(inr_val):
    usd_val = inr_val*83
    print(usd_val,"USD :",inr_val,"INR")
transfer(2)

166 USD : 2 INR

In [41]:
def num(ip):
    if (ip%2==0):
        print("EVEN")
    else:
        print("ODD")
num(6)

EVEN

In [47]:
#Recursion
def num(n):
    if (n==0):  #Base case
        return
    print(n)
    num(n-1)
num(5)

5
4
3
2
1

In [48]:
def fact(n):
    if (n==1 or n==0):
        return 1
    return fact(n-1)*n
print(fact(5))

120

In [61]:
def natural(n):
    if (n==0):
        return 0
    return natural(n-1)+n
sum=natural(5)
print(sum)

15

In [84]:
def recur(list,index=0):
    if (index==len(list)):
        return
    print(list[index])
    recur(list,index+1)

sports=["Cricket","Football","baseball","hockey","batminton"]
recur(sports)

Cricket
Football
baseball
hockey
batminton

In [85]:
f=open("F:\Datamites\Python Essentials\Untitled-2.pynb","r")
data=f.read()
print(type(data))

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 30-31: truncated \UXXXXXXXX escape (954683955.py, line 1)